.template {
  ul {
    .active {
      background: #ffb800;
      font-weight: 700;
      color: #fff;
      border-radius: 8px;
    }
    a:hover {
      background: #ffb800;
      font-weight: 500;
      color: #fff;
      border-radius: 8px;
      transition: all 0.25s;
    }
  }
}
